extends ../layout
include ../mixins/forms

block content
  section#narrative
    h1= org.name
    h2 Projects
    ul
      if org.projects
        each project in org.projects
          li
            a( href="/projects/#{project.id}" )
              = project.name
            |&nbsp;
            a(class='edit', href='/projects/#{project._id}/edit') edit
            |&nbsp;
            a(class='delete', data-object='#{project._id}', data-url='/projects/') remove
    form.pure-form.pure-form-stacked.margin( action="/projects", method="post" )
      input(type='hidden', name='_csrf', value=token)
      fieldset
        legend New Project
        +input('name', 'Name')
        +hidden('owner', user.id)
        +hidden('organization', org.id)
        +text('description', 'Description')
        +select('pointScale', 'Point Scale', pointScales)
        
        input.pure-button.pure-button-primary( type="button", type="submit", value="Create" )
block sidebar
  .margin
    a(href='/organizations/#{org._id}/users') manage users
block scripts
  != js('organizations')
  script
    $('.delete').initializeDelete('#{token}');
